@charset "utf-8";
/* CSS Document */
.progressive {
  position: relative;
  display: block;
  overflow: hidden;
}
.progressive img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
}
.progressive img.hide {
  opacity: 0;
}
.progressive img.origin {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin 1.5s ease-out;
}
.progressive img.origin-scale {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin-scale 1s ease-out;
}
@-moz-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

*{
	letter-spacing: 0.5px;
	box-sizing:border-box;
	color:white;
	vertical-align:top;
	font-family:'Kaiti';
	}
.lato{
	font-family: 'Lato', sans-serif;
	}
.tav{
	font-family: 'Taviraj', serif;}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#633b94;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 600px;
  border-radius: 10px;
  margin-bottom: 10vh;
}

/* The Close Button */
.close-css {
  color: #633b94;
  position:absolute;
  right: calc(50% - 280px);
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #85b8e6;
  text-decoration: none;
  cursor: pointer;
}	
/* Article */

.orange-p {
    font-weight: 700;
    color: #ff9c31;
    font-size: 20px;
}

.red-h1 {
    font-weight: 900;
    color: #633b94;
    padding-left: 20px;
    font-size: 27px;
    padding-right: 20px;
    margin-bottom: 5px;
}
.left-contributor-div{
	padding-left:0 !important;}
.contributor-p {
    font-weight: 700;
    color: #808080;
    padding-left: 2%;
    font-size: 17px;
    margin-bottom: 0;
	font-weight:300;
}

.blue-date {
    font-weight: 300;
    color: #89bae7;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
}
p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
   /* font-size: 18px;*/
}
.article-css-control p, .article-css-control h1, .article-css-control span, .article-css-control h2, .article-css-control h3, .article-css-control h4, .article-css-control h5, .article-css-control h6,  .article-css-control b, .article-css-control{
	/*color:#633b94;*/
	margin-top: 25px !important;
    margin-bottom: 25px !important;
    /*font-size: 18px !important;
	text-align: justify;
    text-align-last: center;*/
	vertical-align: middle;}
.pink-span {
    color: #eb3f79;
}

.top-article-img {
    width: 100%;
    margin-bottom: 20px;

}

p.article-p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.content-article-img {
    width: 100%;
}

.ads2 {
    width: 100%;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content-a {
    color: #eb3f79;
    text-decoration: underline !important;
}

.left-top-article {
    width: 30%;
    margin-left: 2%;
    float: left;
}

.right-top-article {
    float: right;
    margin-right: 3%;
}

/*End of article*/
.content {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-bottom: 50px;

}

.fb-share-button {
    float: left;
}

.fb-share-a {
    text-decoration: none !important;
}

.twitter-share-button {
    text-decoration: none !important;
    color: #64e7f9 !important;
    float: left;
}

.twitter-share-button:hover {
    text-decoration: none !important;
    color: #00aced !important;
}

a.bookmark-a {
    float: left;
    margin-top: -67%;
    margin-left: 23px;
}

.left-contributor-div {
    width: 50%;
    float: left;
}

.bookmark-img {
    width: 28px;
}

.flaticon-facebook-letter-logo:before {
    font-size: 25px;
}

.flaticon-twitter-logo-silhouette:before {
    font-size: 25px;
}

.right-share-div {
    float: left;
    margin-right: 3%;
    width: 46%;
    text-align: right;
}

a.like-a {
    color: grey;
    font-size: 24px;
}

span.like-amount {
    font-size: 16px;
    margin-left: 5px;
}

a.comment-a {
    color: grey;
}

span.comment-amount {
    font-size: 16px;
    margin-left: 3%;
}

.share-a {
    color: grey !important;
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    margin: 0 !important;
}

a.like-a:hover {
    color: #ff3333;
}

a.comment-a:hover {
    color: #ff3333;
}

.share-a:hover {
    color: #ff3333;
}

a.like-a:active {
    color: #ff3333;
}

a.comment-a:active {
    color: #ff3333;
}

.share-a:active {
    color: #ff3333;
}

.dropdown.dropdown-share {
    width: auto;
    float: right;
    margin-top: 4px;
}

.dropdown-menu-share {
    right: 0 !important;
    left: inherit !important;
}

a.share-dropdown-a {
    width: 100%;
    clear: both;
    display: block;
}

.flaticon-printing-tool:before {

    color: white;
    background-color: grey;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
}

.flaticon-gmail-logo:before {

    color: #e67c73 !important;
    font-size: 20px !important;

}

.flaticon-pinterest:before {

    color: #cb2027 !important;
}

i.flaticon-printing-tool.print-icon:hover {

    background-color: #bf1616;
}

.flaticon-printing-tool:after {
    background-color: #bf1616;

}

a.share-dropdown-a {
    color: #3b5998 !important;
    font-weight: 700;
}

a.share-dropdown-a:hover {
    color: white !important;
    background-color: #bf1616 !important;
}

.fb2 {
    width: 100% !important;
}

.flaticon-twitter:before {

    font-size: 20px !important;
    color: #1da1f2;
}

.flaticon-google-plus-1:before {
    font-size: 20px !important;
}

.background-div {
    width: 100%;
    background-color: #f3f3f3;
	overflow: hidden;
}
.table-css {
    width: 100%;
	border-collapse:collapse;
}
.table-css th {
    background-color: #eea2a4;
    color: white;
    padding: 5px 10px;
	font-weight: 800;
}
.table-css td {
    padding: 5px 10px;
	border-bottom: 1px solid #eea2a4;		
}
.ow-content-gap {
    border: 0;
    width: 100%;
}
.edit-btn {
    border: 0;
    background-color: #eea2a4;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 5px;
	word-break: keep-all;
}
.edit-btn:hover {
	background-color:#f18c8c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.article-card{
	border:0 !important;
    -webkit-box-shadow: 0px 0px 15px 5px #85b8e626;
    box-shadow: 0px 0px 15px 5px #85b8e626;
	margin-bottom: 12px;

}
.article-bg-img-box, .overwrite-img-a {
    height: 200px;
    overflow: hidden;
}
.blog-content-div1 {
    width: 50% !important;
}	
.box2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.peach-text{
    color: #ffae68;
}
.source-p {
    color: #b9b9b9;
    margin-bottom: 30px;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
	margin-top:0;
}
.tevy-textarea {
    border-radius: 5px;
	min-height: 170px;
}
.one-line-textarea{
    border-radius: 5px;}
.three-line-textarea{
    border-radius: 5px;}
.recommended {
    width:75% !important;
    margin-left: 12.5% !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}
.refer-png {
    height: 25px;
    margin-left: 5px;
}
.step-p {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
	    margin-top: 50px;
}
.step-p2 {
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
}
.tutorial-div img {
    width: 70%;
    margin-left: 15%;
	border: 2px solid #633b94;}
.close-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.youtube-video-iframe {
    width: 100%;
    height: 500px;
}
.article-css-control iframe{
    width: 100%;
    height: 500px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.article-css-control{ 
    width: 100%;
    overflow: hidden;
	padding: 0 20px;
}

.article-css-control a {
  
    text-decoration: underline !important;
}
.article-css-control a:hover {
	
}
.article-css-control a span{
  
    text-decoration: underline !important;
}
.article-css-control a span:hover {
	
}
.article-css-control a span u{
   
    text-decoration: underline !important;
}
.article-css-control a span u:hover {
	
}
.article-css-control img {
	width: 70% !important;
    height: auto !important;
	margin-left:15%;
	margin-right:15%;
	clear:both;
	margin-top: 10px;
    margin-bottom: 10px;}
.article-css-control .feather-png {
    width: 20px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
	margin-right:0 !important;
	vertical-align: bottom;
    margin-bottom: 0;
}
.grey-bg-ow {
    background-color: #cccccc !important;
}
.grey-bg-ow:hover {
    background-color: #b7a7a7 !important;
}
.red-h1 {
    word-break: break-all;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.article-card {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    margin-top: 2%;
    border: 1px solid #999999;
    min-height: 250px;
}
.article-css-control table {
    width: calc(100% - 5px) !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-collapse: collapse !IMPORTANT;
}
.article-css-control div{
	margin-left:0 !important;
	margin-right:0 !important;}
.article-css-control td, th {
    padding: 3px 10px !important;
	border-collapse: collapse !important;
}
.border-div {
    width: 100%;
    border-top: 1px solid #85b8e6;
    margin-top: 50px;
}
.padding20{
	padding-left:20px;
	padding-right:20px;}
.article-img1 {
    width: 100%;
}
.small-date {
    font-size: 10px;
}
.article-title-a {
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
}
.text-content-div {
    height: 60px;
    overflow: hidden;
    width: 100%;
	font-size: 13px;
}
.min-height2 {
    min-height: calc(100vh - 22.5px);
}
/* End of Article */
.white-bg{
	background-color:white;}
.small-padding{
	padding-left:75px;
	padding-right:75px;}
.same-padding{
	padding-left:10%;
	padding-right:10%;}	
.weight300{
	font-weight:300;}
.display-inline{
	display:inline-block;}
.two-column{
	width:16.6%;}
.ten-column{
	width:83.3%;}
.lighter-blue-text{
	color:#cfeaf9;}
.light-blue-text, .light-blue-text b{
	color:#85b8e6;}
.block {
    width: 50%;
    border-bottom: 1px solid white;
    margin-top: 30px;
}
.opacity-hover{
	transition:.15s ease-in-out;}
.opacity-hover:hover{
	transition:.15s ease-in-out;
	opacity:0.7;}
.social-icon {
    width: 30px;
    margin-right: 20px;
}
.menu-color {
    background-color: white;
	padding-top: 10px;
    padding-bottom: 10px;
	box-shadow: 0 0 12px 1px rgb(80 2 205 / 30%);
	-webkit-box-shadow: 0 0 12px 1px rgb(80 2 205 / 30%);
	-moz-box-shadow: 0 0 12px 1px rgb(80 2 205 / 30%);
}
.menu-item {
    color: #c55cff;
	transition:.15s ease-in-out;
	font-size: 21px;
}
.menu-item:hover {
    color: #5d26a4;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.logo-img {
    width: 100px;
}
.menu-margin-right {
    margin-right: 24px;
}
.before-header-div {
    margin-top: 7px;
}

/*Start */
.big-div{
	background-image:url(../img/vincaps-bg.jpg);
	background-size:cover;
	padding-bottom: 20px;
	padding-top: 60px;
}
.small-title {
    font-weight: 900;
    margin-top: 30px;
    font-size: 27px;
}
.tempo-logo {
    margin-top: 30px;
}
.top-des {
    margin-top: 30px;
	width: 260px;
}
.big-title {
    font-weight: 900;
    font-size: 90px;
    margin-top: 0px;
	margin-bottom: 0;
}
.dl-menuwrapper button:after {
    height: 3px;
    background: #633b94;
    border-radius: 5px;
	box-shadow: 0 8px 0 #633b94, 0 16px 0 #633b94;}
.dl-menuwrapper .dl-menu.dl-menuopen{
	margin-top:0;
	background-color: #ffffff;
	min-height:100vh;	
}
.dl-menuwrapper li a {
    color:#46729a;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	transition:.15s ease-in-out;}
.dl-menuwrapper li a:hover{
    color: #85b8e6;
	transition:.15s ease-in-out;	
}
.line-startup {
    width: calc(100% - 275px);
    border-bottom: 1px solid white;
    height: 42px;
}
.big-title {
    margin-top: 30px;}
.description {
    font-size: 27px;
    width: 60%;
}
.bottom-text {
    font-size: 14px;
    margin-top: 30px;
	font-weight: 200;
}
.five-col{
	width:41.5%;}
.six-col{
	width:49.8%;}
.border-text {
    font-weight: 300;
    margin-bottom: 10px;
}
.border-text b{
	font-weight:900;
	color:#633b94;	
}
.short-blue-border {
    width: 50px;
    height: 5px;
    background-color: #85b8e6;
}
.list-table {
    margin-top: 21px;
    width: 100%;
}
.number-td {
    font-weight: 100;
    font-size: 64px;
	vertical-align: top;
	padding-bottom: 30px;
}
.text-td {
    vertical-align: top;
    padding-top: 10px;
	font-size: 32px;
    padding-left: 18px;
}
.dark-blue-text{
	color:#633b94;
}
.dark-blue-bg{
	background-color:#633b94;
}
.blue-border{
	background-color:#633b94;
	}
.border-bottom-img {
    width: 100%;
    margin-top: 30px;
}
.op{
    width: 350px;
}
.white-spacing-div {
    padding-bottom: 50px;
	padding-top: 20px;
}
.extra-margin-bottom{
	margin-bottom:50px;}
.icon-css {
    width: 70px;
}
.big-b {
    font-size: 36px;
    line-height: 36px;
}
.funding-img {
    margin-top: 30px;
}
.light-blue-hover{
	transition:.15s ease-in-out;}
.light-blue-hover:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	color:#633b94;
}
.source-p {
    font-size: 14px;
}
.footer-div{
	background-color:#c55cff;
	text-align:center;
	padding-top:3px;
	padding-bottom:5px;}
.footer-p{
	margin:0;
	font-size:17px;}
.input-name {
    width: 100%;
    border: 1px solid #c185e6;
    border-radius: 3px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 19px;
	background-color:#fdfaff;
}
.input-message {
    min-height: 120px;
}
.opt-msg {
    margin-top: 0;
    vertical-align: top;
	font-size: 14px;
}
.form-table td {
    vertical-align: top;
    padding-right: 5px;
}
.form-class {
    margin-top: 25px;
}
.blue-button {
    border: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    background-color: #633b94;
    border-radius: 3px;
	transition:.15s ease-in-out;
}
.blue-button:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	background-color:#2b587a;
}
.top-building-div{
	background-image:url(../img/building-bg.jpg);
	background-position:bottom;
	background-size:cover;
	height: calc(65vh - 22.5px);
	position: fixed;
}
.bottom-water-div{
	background-image:url(../img/water-bg.jpg);
	background-position:top;
	background-size:cover;
	height:35vh;
	position: fixed;
    bottom: 22.5px;}
.login-modal-content {
    background-color: transparent;
    padding: 0;
}
.blue-div-opa {
    background-color: #c55cffad;
	text-align: center;
	padding: 20px;}
.welcome {
    text-align: center;
	margin:0;
	margin-top: 15px;
}
.hello-icon {
    width: 80px;
}
.input-top-p {
    font-family: 'Lato';
    color: #633b94;
    margin-bottom: 5px;
    font-size: 12px;
}
.password-input {
    border: 0;
    width: calc(100% - 35px);
	margin-bottom: 0;
	vertical-align: baseline;
}
.eye-icon {
    width: 20px;
	margin-right:5px;
	vertical-align: baseline;
}
.fake-input-div {
    border: 1px solid #85b8e6;
	border-radius: 3px;
	margin-bottom: 25px;
	background-color:#fafcff;
}
.input-submit {
    padding-top: 8px;
    padding-bottom: 10px;
}
.below-blue-box{
	padding-top:35px;}
.blue-link{
	color:#633b94;
	transition:.15s ease-in-out;}
.blue-link:hover{
	color:#85b8e6;
	cursor:pointer;
	transition:.15s ease-in-out;}
.forgot-a {
    font-size: 10px;}
.below-forgot {
    margin-top: 35px;
}
.below-blue-box {
    padding-top: 35px;
    padding-bottom: 35px;
}
.signup-a {
    font-size: 12px;
}
.login-modal-content {
	width:600px;}
.big-container-css {
    width: 600px;
    margin-left: calc(50% - 300px);
    overflow: auto;
    position: absolute;
	z-index: 1;
	margin-top: 70px;
    margin-bottom: 35px;

}
.tick-table {
    max-width: 100%;
}
.tick-png {
    width: 15px;
    margin-right: 10px;
}
.tick-table td {
    padding-bottom: 7px;
}
.inner-close {
    right: 35px !important;
}
.light-blue-line{
	border-bottom:1px solid #85B8E6;
	margin-top: 10px;
    margin-bottom: 10px;	
}
.input-top-p2 {
    color: #85B8E6;
    margin-bottom: 0;
	font-size: 11px;
}
.explanation-p2 {
    margin-top: 2px;
}
.width50{
	width:50%;}
.no-input {
    border: 0;
    padding: 0;
    font-size: 16px;
}
.copy-button {
    width: auto;
    padding: 3px 10px;
    font-size: 12px;
}
::selection {
  color: white !important;
  background: #3B6A94 !important;
}
.light-blue-link{
	color:#c55cff;
	transition:.15s ease-in-out;
	cursor:pointer;}
.light-blue-link:hover{
	color:#5d26a4;
			
}
.green-to-blue{
	font-weight:900;
	transition:.15s ease-in-out;
	cursor:pointer;
	color:white !important;
	background-color:#c55cff !important;
	}
.green-to-blue:hover{
	background-color:#5d26a4 !important;
	}
.agree-size {
    font-size: 12px;}
.table-icon {
    width: 35px;
}
.vertical-top{
	vertical-align:top;}
.icon-table-css td{
	vertical-align:top;
	padding-top:0;
	padding-bottom:35px;
	font-size: 18px;	
}
.icon-table-css .text-td b {
    color: #633b94;
    font-weight: 900;
	font-size: 24px;
}
.diamond {
    width: 20px;
}
.blog-link {
    font-size: 16px;
    text-decoration: underline;
}
.orange-link{
	color:#ff9f65;
	transition:.15s ease-in-out;}
.orange-link:hover{
	color:#ff7c33;
	cursor:pointer;
	transition:.15s ease-in-out;}
.price-h1{
    font-weight: 900;
}
.price-logo {
    padding-right: 3px;
    width: 200px;
	vertical-align: baseline;
}
.price-table {
    background-color: #3B6A94;
	border-collapse:collapse;
	width: 100%;
}
.price-table td, .price-table th{
	border:1px solid white;
	border-collapse:collapse;
	padding: 10px;
}
.ps {
    color: grey;
    font-size: 14px;
}
.td1{background-color: #cfeaf9;
color:#2b587a;}
.td2{background-color: #b1daff;
color:#2b587a;}
.th1{
	background-color: #c5edff;
}
.th2{
	background-color: #85b8e6;
}
.th3{
	background-color: #3B6A94;
}
.th4{
	background-color: #2b587a;}
.content-td2{
	text-align:center;}
.content-td {
    font-weight: 600;
    background-color: #c5edff;
}
.dropdown-png {
    width: 10px;
}
.min-height {
    padding-top: 70px;
    min-height: calc(100vh - 22.5px);
}
.scroll-div{
	width:100%;
	overflow-x:auto;}
.approve-table th{
	background-color:#7527db;
	color:white !important;}
.approve-table td, .approve-table th{
	text-align:center;
	color:#633b94;
	padding:5px;
	vertical-align:top;
}
.approve-table {
    font-size: 16px;
    width: 100%;
}
.approve-table  button{
	 font-size: 16px;
	 font-weight:900;
	}
.receipt-icon {
    width: 15px;
}
.approve-table > tbody > tr:nth-child(odd){
   background-color:#f0ddff;
}
.approve-table > tbody > tr:nth-child(even){
   background-color:#ddc2fb;
}
.approval-button{
	transition:.15s ease-in-out;
	font-size: 12px;
    width: 70px;
	border: 0;
	padding: 5px 0;
	border-radius:2px;}
.approval-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
.green-button{
	background-color:#38e06b;}
.green-button:hover{
	background-color:#2fcc58;}
.left-button{
	margin-right:10px;}
.red-button {
    background-color: #ff4569;
}
.red-button:hover{
   background-color:#ff124b;	
}
.approval-icon {
    width: 18px;
}
.small-padding2{
	padding-left:15px;
	padding-right:15px;}
.margin-bottom30{
	margin-bottom:30px;}
.refer-png{
	height:20px;
	}
.step-h3{
	text-align:center;}
.slider-css{
position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;
margin-top:20px;	
}
.three-counter {
    width: calc(32.33% - 1px);
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    padding: 0 15px;
}
.counter-h2 {
    font-size: 12px;
    font-weight: 300;
}
.title-ch1 {
    font-size: 24px;
	font-weight: 300;
	margin-bottom:40px;
	vertical-align: baseline;
}
.title-ch1 span{
    font-size: 72px;
	font-weight: 900;
	padding: 0 5px;
	vertical-align: baseline;
}
.counter-h2 span {
    font-size: 42px;
    font-weight: 800;
    padding: 0 5px;
	vertical-align:baseline;
}
.title-icon{
	width:75px;}
.counter-icon{
	width:50px;}

.timeline-item {
  padding: 10px 5px;
  position: relative;
  color: white;
  border-left: 2px solid white;
}
.timeline-item p {
	text-align:left;
	padding-left: 45px;
	margin-top:25px;
	margin-bottom:45px;
	font-size:18px;
	color:white;
	
}
.timeline-item b{
	color:white;
	font-weight:900;
	font-size:30px;
	vertical-align: baseline;
	}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 50px;
	font-weight: 400;
    font-size: 16px;
    display: block;
    margin-top: -15px;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 0;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: '';
  border: 2px solid white;
  background:#85b8e6;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, white 60%, transparent) 1 100%;
     border-image: -webkit-linear-gradient(top, white 60%, transparent) 1 100%;
     border-image: linear-gradient(to bottom, white 60%, transparent) 1 100%;
}
.follow-harm-width {
    padding: 30px 5px;
	    width: calc(100% - 300px);
    float: left;
	z-index:3;
}
.light-blue-bg{
	background-color:#85b8e6;	
}
.light-particle-div{
    position: absolute;
    height: 330px;
    top: 53px;
    overflow: hidden;
    width: 100%;
}
.ripple-background {
    position: absolute;
    float: right;
    width: 300px;
    bottom: 20px;
    height: 300px;
    right: 0;
	z-index:2;
}
.relative{
	position:relative;}
.circle-ri{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 120px;
  height: 120px;
  right: -60px;
  bottom: -60px;
}

.medium{
  width: 240px;
  height: 240px;
  right: -120px;
  bottom: -120px;
}

.large{
  width: 360px;
  height: 360px;
  right: -180px;
  bottom: -180px;
}

.xlarge{
  width: 480px;
  height: 480px;
  right: -240px;
  bottom: -240px;
}

.xxlarge{
  width: 600px;
  height: 600px;
  right: -300px;
  bottom: -300px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.3;
}

.shade3{
  opacity: 0.4;
}

.shade4{
  opacity: 0.5;
}

.shade5{
  opacity: 0.6;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
.tittle-text-p {
    font-weight: 900;
    font-size: 18px;
	margin-bottom: 0;
}
.content-text-p {
    margin-top: 5px;
    text-align: justify;
    text-align-last: center;
}
.about-png {
    width: 100px;
    margin-top: 20px;
}
.two-box-div {
    width: calc(50% - 5px);
    display: inline-block;
    padding: 0 50px;
}
.padding-top-bottom{
padding-bottom: 50px;}
.padding-top-bottom2{
	padding-top:50px;
	padding-bottom:50px;}
.context {
    width: 100%;
    position: absolute;
    top:10px;
	z-index:3;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #85b8e6;  
    
    width: 100%;
    height:350px;
	position:relative;
    
   
}
.per-content-p {
    width: 50%;
    text-align: justify;
    font-size: 21px;
	float:left;
}
.graph-gif {
    right: 10%;
    width: 150px;
    bottom: 0;
    position: absolute;
}
.proff-png {
    opacity: 0.4;
    bottom: 20px;
}
.how-height {
    height: 380px !important;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.075);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.co-ow{
	margin-top:40px;}
.co-ow p {
	font-size:16px !important;}
.co-ow .ow-section-des {
    font-size: 21px !important;
    width: 270px !important;
}
.co-ow .ow-section-line {
    width: calc(100% - 275px) !important;}
.google-iframe{
	width:100%;
	height:250px;}
.text-center.four-div-css {
    margin-bottom: 20px;
    width: calc(25% - 8px);
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.double {
    width: 25px;
	vertical-align: baseline
}
.grey-text, .grey-text b {
    color: #e2e2e2 !important;
}
.left-teh1 {
    width: 50%;
    float: left;
}
.teh1-div {
    padding-top: 90px;
    padding-bottom: 50px;
}
.milk {
    position: absolute;
    left: calc(10% - 55px);
    width: 80px;
}
.teh-h1 {
    font-weight: 900;
    font-size: 48px;
    margin-top: 80px;
	margin-bottom: 10px;
}
.teh-content-p {
    font-size: 21px;
    text-align: justify;
}
.teh-info-table {
    margin-top: 30px;
    font-size: 21px;
}
.right-teh1 {
    width: 50%;
    float: right;
    margin-top: 120px;
    padding-left: 10%;
}
.milktea {
    height: 60px;
    margin-left: 10px;
}
.white-border {
    background-color: white;
}
.teh-border {
    width: 60px;
    height: 3px;
}
.teh-all-h1 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 42px;
    font-family: 'Lato';
	margin-top: 0;
}
.teh-all-desc {
    font-size: 24px;
	margin-bottom: 50px;
}
.four-col p, .four-col p b{
	color:#633b94;
	text-align:center;
	font-size: 21px;}
.four-col img{
	width:70%;}
.four-col {
    display: inline-block;
    width: calc(25% - 5px);
	padding: 0 3%;
	margin-bottom: 30px;
}
.three-column {
    display: inline-block;
    width: 30%;
	margin-bottom:60px;
}
.three-column p{
	font-size: 21px;}
.mid-three-column {
    margin-left: calc(5% - 5px);
    margin-right: calc(5% - 5px);
}
.res-width {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.jus-cen{
	text-align:justify;
	text-align-last:center;}
.border-margin{
	    margin-bottom: 50px !important;}
.left-img-div1 {
    width: 50%;
    padding-right: 20%;
    float: left;
}
.right-content-div1{
	float:right;
	width:50%;}
.right-content-div1 h1 {
    font-family: 'Lato';
    font-weight: 900;
	margin-top:0;
}
.right-content-div1 p {
    font-size: 24px;
    text-align: justify;
}
            ul.countdown {
                list-style: none;
                margin-top: 50px;
                padding: 0;
                display: block;
                text-align: center;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 80px;
                font-weight: 300;
                line-height: 80px;
            }

            ul.countdown li.seperator {
                font-size: 80px;
                line-height: 70px;
                vertical-align: top;
            }

            ul.countdown li p {
                color: #a7abb1;
                font-size: 14px;
            }
.dual-input {
    display: inline-block;
    width: 47.5%;
}
.second-dual-input {
    margin-left: calc(5% - 10px);
}		
.ow-no-question .three-column, .ow-no-question p {
	color: #633b94;
	}
.ow-no-question {
    margin-top: 50px;
}
.ow-no-question img{
	width:35%;}
.ow-question .three-column {
  position: relative;

 
  background:white;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #633b94;
}
.ow-question p{
	color: #633b94;
	}
.ow-question .three-column:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid white;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.ow-big-container-css{
	margin-top:100px;
	height:auto;

}
.ow-no-margin-bottom{
	margin-bottom:0 !important;}
.ow-section-des {
    font-weight: 400;
    width: 180px !important;
	font-size: 21px !important;
}
.ow-section-line {
	width: calc(100% - 195px) !important;
    border-color: #633b94 !important;
	height: 44px !important;
}
.ow-width100{
	width:100% !important;}
.timeline-ow{
	width: 330px !important;
	color:white;	
}
.timeline-line{
	width: calc(100% - 330px) !important;
	border-color:white !important;
}
.ow-long-css {
    width: 320px !important;
}
.ow-long-line{
	width: calc(100% - 330px) !important;
	}
.last-cen{
	text-align-last:center;}
.p-width {
    width: 150px !important;
	text-align:right;
}
.p-div{
	text-align:right;}
.dropdown-png{
	vertical-align:baseline;}
.globe-png{
	width: 17px;
    vertical-align: bottom;}
.pitch-bg{
	background-image:url(../img/pitchbanner.jpg);
	background-size:cover;
	padding-top: 140px;
    padding-bottom: 100px;}
.gradient-bg1{
	background: rgb(66,141,255);
	background: linear-gradient(90deg, rgba(66,141,255,0.7122199221485469) 43%, rgba(66,141,255,0) 100%);
	padding-top: 30px;
    padding-bottom: 30px;}
.pitch-h1 {
    margin: 0;
	width: 70%;
}
.content-td li {
    color: #457ea9;
	font-size: 14px;
}
.middle-button-size {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
}
.ow-date-size::before {
    font-size: 21px !important;
    font-weight: 800 !important;
}
.ow-date-size p {
    font-size: 16px;}
.ow-long-left {
    width: 450px !important;
}
.ow-short-line {
    width: calc(100% - 470px) !important;
    border-color: white !important;
}
.logo2 {
    width: 200px;
    margin-top: 10px;
}
.first-banner{
	background-image:url(../img/banner1.jpg);
	background-size:cover;
	    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 10px;}
.banner-h1 {
    margin: 0;
    font-weight: 900;
    width: 70%;
    font-size: 42px;
}
.line-header {
  overflow: hidden;
  text-align: center;
  color:#633b94;
  font-family:lato;
  font-weight:900;
  font-size: 36px;
}

.line-header:before,
.line-header:after {
  background-color: #633b94;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-header:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-header:after {
  left: 0.5em;
  margin-right: -50%;
}
.banner2{
	background-image:url(../img/banner2.jpg);
	background-size:cover;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
	margin-top:30px;
	}
.banner2-h1 {
    font-weight: 400;
    margin: 0 auto;
	width:100% !important;
}
.banner2-h1 b{
	font-weight: 900;
	color:#633b94;
}
.percen-text {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}
.percen2 {
    margin-bottom: 0;
}
.percen3 {
    margin-top: 5px;
}
.blue-rec{
	box-shadow: 0 0 7px 1px rgba(59,106,148,0.3);
-webkit-box-shadow: 0 0 7px 1px rgba(59,106,148,0.3);
-moz-box-shadow: 0 0 7px 1px rgba(59,106,148,0.3);
padding: 15px;}
.three-counter2 {
    float: left;
    width: 31%;
}
.mid-three {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.flex3{
	display:flex;
	padding-bottom: 20px;}
.extra-mbottom{
	margin-bottom:35px;}
.vincaps-table {
    width: 450px;
    margin: 0 auto;
}
.vincaps-table td {
    color: #633b94;
}
.td1b{
	background-color: #2b587a;	
	color:white;
	font-weight:900;
}
.eli-table td {
    padding: 5px 10px;
}
.td2b{
    background-color: #c5edff;
	color:#2b587a;
}
.td3b{
	background-color:#cfeaf9;
	color:#2b587a;
	font-weight:700;}
.overflow-auto{
	overflow:auto;}
.darkblue-bg{
	background-color:#2b587a;}
.lightblue-bg{
	background-color:#c5edff;}
.faq-text{
	margin:0;
	font-weight: 400;
	font-size: 17px;
	color:#633b94;}
.bottom-faq{
	display:none;}
.top-faq, .bottom-faq{
	padding:10px;}
.top-faq{
	cursor:pointer;
	transition:.15s ease-in-out;}
.top-faq:hover{
	background-color:#25689b;
	}
.faq-text b{
	font-weight:900;
	color:#633b94;}
.dark-blue-text b, .dark-blue-text i{
	color:#633b94;}
.margin0{
	margin:0;}
.darkblue2{
	background-color:#003054 !important;}
.right-leaf {
    top: 50px;
    right: 0;
    position: absolute;
    width: 9%;
}
.left-leaf{
    left: 0;
    position: absolute;
    width: 9%;
	margin-top:20px;
	}
.black-text, .black-text b, .black-text i, .black-text u, .black-text td{
	color:black;}
.five-div-container {
    display: flex;
	padding-top:30px;
}
.five-div {
	width:20%;
    padding: 0 20px;
    margin-bottom: 30px;
	text-align:center;
}
.five-div-img {
    width: 40%;
}
.five-div-p {
    font-size: 25px;
	margin-bottom: 0;
}
.bg1{
	background-image:url(../img/bg1.jpg);
	background-position:top;
	background-size:cover;}
.darkblue-text, .darkblue-text b, .darkblue-text i, .darkblue-text u,  .darkblue-text ul,  .darkblue-text li{
	color:#061560;}
.darkblue-text s{
	font-weight:400;
	font-size:42px;
	color:#bb0404;
	}
.right-date{
	float:right;
	width: 170px;}
.left-details{
	float:left;
	width:calc(100% - 190px);}
.white-bg-div {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff87;
    margin: 20px 0;
    padding: 10px ;
}
.white-border-div {
    border: 1px solid white;
    overflow: hidden;
    padding: 10px 10px;
}
.date-h1 {
    margin-top: 0;
    text-align: right;
    font-weight: bolder;
    font-size: 50px;
	margin-bottom: 10px;
}
.h1-border {
    float: right;
    width: 150px;
    border-bottom: 5px solid #061560;
}
.date-h1b {
    text-align: right;
    padding-top: 10px;
    clear: both;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 12px;
	margin-top:0;
	margin-bottom: 0;
}
.darkgreen-text, .darkgreen-text b, .darkgreen-text i, .darkgreen-text u,  .darkgreen-text ul,  .darkgreen-text li{
	color:#5d26a4;}
.place-h1 {
    text-align: right;
    font-size: 45px;
	margin-top: 0;
	letter-spacing: 3px;
	margin-bottom:0;
}
.gps {
    height: 35px;
    margin-top: 8px;
	margin-right: 15px;}
.details-h1 {
    font-size: 72px;
    margin-top: 0;
}
.details-ul {
    font-size: 25px;
}
.details-ul li {
    margin-bottom: 15px;
}
canvas {
  width: 600px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}
.content-p-size {
    font-size: 24px;
}
.padding-top-menu {
    padding-top: 60px;
}
.green-bg-change{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#c55cff;}
.green-bg-change:hover{
	background-color:#5d26a4;
}
.middle-button {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 27px;
	border: 0;
}
.right-leaf2{
	position:absolute;
	right:0;
	margin-top:10px;
	width:9%;}
.left-leaf2 {
    margin-top: 150px;
}
.leaf-padding-top {
    padding-top: 210px;
}
.header-p {
    font-size:24px;
}
.mini-title {
    font-weight: 900;
    font-size: 27px;
}
.below-mini-title {
    font-size: 24px;
}
.margin-top0{
	margin-top:0 !important;}
.bg2{
	background-image:url(../img/bg2.jpg);
	background-position:top;
	background-size:cover;
	overflow:hidden;	
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile-img {
    width: 400px;
}
.left-img-div{
	float:left;
	width:400px;}
.right-lecturer-div {
    float: right;
    width: 40%;
}
.top-h1-p {
    font-size: 29px;
    margin-bottom: 0;
    font-weight: 900;
}
.lecturer-h1 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 60px;
	margin-bottom:0;
}
.lecturer-p {
    font-size: 24px;
}
.padding-top30{
	padding-top:30px;
	padding-bottom:30px;
	overflow:hidden;}
.left-50div {
    float: left;
    width: 47.5%;

}
.reg-h1 {
    font-size: 48px;
}
.right-50div {
    float: right;
    width: 47.5%;
	margin-top: 40px;
}
.width100-ow{
	width:100%;}
.top-p {
    font-size: 18px;
    margin-bottom: 10px;
}
.res-div {
    margin-top: 20px;
}
.alert-a {
    text-align: left;
    float: left !important;
    margin-top: -20px;
	font-size:17px !important;
	font-weight:400 !important;
}
.input-div-width {
    width: 50%;
    margin: 0 auto;
}
.bg3{
	background-image:url(../img/bg1.jpg);
	background-size:cover;
	overflow:hidden;
	    min-height: calc(100vh - 27px);
	}
.border0{
	border:0;}
.laptop {
    width: 550px;
}
.right-leaf1 {
    width: 22% !important;
}
.first-h1 {
    font-size: 56px;
	font-weight: 400;
}
.first-h1 b {
    color: #c55cff !important;
}
.left-leaf1 {
    width: 25%;
}
.r-u {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 600;
	margin-top: 80px;
}
.down-png {
    width: 30px;
	margin-top: 25px
}
.left-leaf1 {
    width: 20% !important;
    margin-top: -85px !important;
}
.margin-top-zz {
    margin-top: 40px;
}
.left-div1 {
    float: left;
    width: 47.5%;
}
.right-div1 {
    float: right;
    width: 47.5%;
}
.two-column-table {
    width: 100%;
	font-size: 32px;
}
.cross-png {
    width: 70px;
    margin-right: 10px;
}
.two-column-table td {
    padding-bottom: 30px;
}
.margin-top-zz {
    margin-top: 70px;
    margin-bottom: 50px;
    overflow: hidden;
}
.padding-z{
	padding-top:50px;
	padding-bottom:50px;
	overflow:hidden;}
.design {
    width: 400px;
}
.three-counter{
	text-align:justify;
	text-align-last:center;}
.search-input1 {
    display: inline-block;
    width: calc(18% - 5px);
    margin-right: 2%;
}
.search-input2{
	margin-right:0;}
.search-input1 .input-name {
    font-size: 15px !important;
    padding: 8px;
}
.margin-top30{
	margin-top:30px;}
.menu-margin-top{
	margin-top:70px;}
.min-height-with-margin{
	min-height:calc(100vh - 101px);}
.minheight-with-footer{
	min-height:calc(100vh - 29px);
	}
@media all and (max-width: 1500px) {
.blog-content-div1 {
    width: 55% !important;
}
}
@media all and (max-width: 1460px){
.big-div {
    padding-top: 50px;
}
}
@media all and (max-width: 1400px){
.number-td {
    font-size: 48px;}
.text-td {
    font-size: 24px;}	
.article-bg-img-box, .overwrite-img-a {
    height: 200px;
}
.tutorial-div img {
    width: 100%;
    margin-left: 0;}
.right-teh1 {
    margin-top: 150px;}
.left-img-div1 {
    padding-right: 10%;}
}
@media all and (max-width: 1320px){
.big-div {
    padding-top: 42px;
}
}
@media all and (max-width: 1300px) {
.article-title-a {
    font-size: 16px;
}	
.cate-a {
    font-size: 12px;
}
.text-content-div {
    height: 55px;
    font-size: 13px;
}
.how-height {
    height: 410px !important;
}
.left-teh1 {
    width: 70%;}
.right-teh1 {
    width: 30%;
    float: right;
    margin-top: 160px;
    padding-left: 30px;
}
.teh-h1 {
    font-size: 36px;
	margin-top: 50px;}
.milktea {
    height: 40px;}
.milk {
    left: calc(10% - 40px);
    width: 50px;
}
.teh-content-p {
    font-size: 18px;
    text-align: left;
}
.teh-info-table {
    margin-top: 15px;
    font-size: 19px;
}
.top-p1{
	margin-top:45px !important;	
}
.banner-h1 {
    font-size: 36px;
}
}
@media all and (max-width: 1200px){
.menu-item {
    font-size: 17px;
}
.logo-img {
    width: 80px;
}
.menu-color {
    padding-top: 5px;
    padding-bottom: 5px;
}
.big-title {
    font-size: 72px;}
.description {
    font-size: 24px;
    width: 70%;
}
.bottom-text {
    font-size: 14px;
}
.big-div {
    padding-bottom: 10px;}
.source-p{
	font-size:12px;}
.youtube-video-iframe {
    height: 400px;
}
.article-css-control iframe {
	height: 400px;}
.article-bg-img-box, .overwrite-img-a {
    height: 170px;
}
.span1 {
    font-size: 32px;
    width: 100%;}
#fly-in {

    height: 350px;
    padding-top: 140px;
}

.how-height {
    height: 410px !important;
}
.proff-png {
    width: 100px;
}
.res-width {
    width: 85%;
    
}
.same-padding{
	padding-left:5%;
	padding-right:5%;}

.right-leaf, .left-leaf, .right-leaf2{
	width:5%;}

.five-div {
    padding: 0 7px;}
.leaf-padding-top {
    padding-top: 50px;
}
.profile-img, .left-img-div {
    width: 250px;
}
.right-lecturer-div {
    width: 55%;
}
.top-h1-p {
    font-size: 24px;}
.lecturer-h1 {
    font-size: 50px;}
.lecturer-p {
    font-size: 21px;
}
}
@media all and (max-width: 1150px){
.op {
    width: 270px;
}
.border-text {
    font-size: 24px;
}	
.short-blue-border {
    width: 35px;
    height: 3px;
    background-color: #85b8e6;
}
.number-td {
    font-size: 36px;
}
.text-td {
    font-size: 21px;
    padding-top: 5px;
}
.icon-css {
    width: 50px;
}
.extra-margin-bottom {
    margin-bottom: 25px;
}

}
@media all and (max-width: 1100px){
.per-content-p {
    width: calc(100% - 220px);
    font-size: 18px;}
.area {
    height: 320px;}
.how-height {
    height: 320px !important;
}
.right-teh1 {
    margin-top: 180px;}
.teh-all-desc {
    font-size: 19px;}
.four-col p, .four-col p b, .three-column p {
    font-size: 17px;
}
.four-col {
    padding: 0 2%;
}
.right-content-div1 p {
    font-size: 21px;}
.five-div-container {
    display: block !important;}
.five-div {
    padding: 0;
    display: inline-block;
    width: 30%;
}
.center-five {
    margin-left: calc(4% - 9px);
    margin-right: calc(4% - 9px);
}
.five-div-img {
    width: 30%;
}
.text-center.four-div-css {
    width: calc(50% - 5px);
}
}
@media all and (max-width: 1000px){
.five-col {
    width: 45%;
}
.icon-table-css .text-td b {
    font-size: 19px;
}
.icon-table-css td {
    font-size: 15px;
}
.blog-link {
    font-size: 13px;}
.icon-table-css .text-td {
    padding-left: 8px !important;
}
.article-bg-img-box, .overwrite-img-a {
    height: 150px;
}
.blog-content-div1 {
    width: 75% !important;
}
.refer-modal-content {
    width: 95%;
}
.article-css-control p, .article-css-control h1, .article-css-control span, .article-css-control h2, .article-css-control h3, .article-css-control h4, .article-css-control h5, .article-css-control h6, .article-css-control b, .article-css-control {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    /*font-size: 15px !important;*/}
.title-ch1 {
    font-size: 16px;}
.title-ch1 span {
    font-size: 56px;
}
.counter-icon {
    width: 40px;
}
.title-icon {
    width: 55px;
}
.counter-h2 {
    font-size: 10px;
}
.counter-h2 span {
    font-size: 24px;}
.count-text {
    font-size: 14px;
}
.small{
  width: 60px;
  height: 60px;
  right: -30px;
  bottom: -30px;
}

.medium{
  width: 120px;
  height: 120px;
  right: -60px;
  bottom: -60px;
}

.large{
  width: 180px;
  height: 180px;
  right: -90px;
  bottom: -90px;
}

.xlarge{
  width: 240px;
  height: 240px;
  right: -120px;
  bottom: -120px;
}

.xxlarge{
  width: 300px;
  height: 300px;
  right: -150px;
  bottom: -150px;
}
.about-png {
    width: 60px;}
.tittle-text-p {
    font-size: 14px;}
.content-text-p {
    font-size: 12px;
}
.pitch-h1 {
    width: 100%;
}
.pitch-bg {
    padding-top: 100px;
    padding-bottom: 60px;
}
.pitch-width {
    width: calc(100% - 170px);
}
.banner-h1 {
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
	width:100%;
	font-size: 27px;
}
.first-banner {
    padding-top: 50px;
    padding-bottom: 50px;}
.light-particle-div {
    height: 165px;}
.faq-text {
    font-size: 14px;}
.two-column-table {
    font-size: 29px;
}
.details-h1 {
    font-size: 60px;}
.date-h1 {
    font-size: 40px;
	margin-bottom:5px;}
.h1-border {
    width: 120px;}
.date-h1b {
    padding-top: 0px;
	font-size: 40px;
    letter-spacing: 10px;}
.place-h1 {
    font-size: 35px;}
.gps {
    height: 28px;}
.right-date {
    width: 140px;
}
.left-details {
    width: calc(100% - 150px);
}
}
@media all and (max-width: 900px){
.big-title {
    font-size: 60px;
	margin-top: 20px;
}
.description {
    font-size: 20px;
    width: 70%;
}
.bottom-text {
    margin-top: 20px;
    font-size: 12px;
}
.login-modal-content {
	width:80%;}
.big-container-css{
	width:80%;
	margin-left: 10%;
}
.close-css {
    right: calc(10% + 25px);}
.recommended {
    width: 80% !important;
    margin-left: 10% !important;}
.youtube-video-iframe {
    height: 350px;
}
.article-css-control iframe { {
    height: 350px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 90px;
}
.per-content-p {
    width: calc(100% - 200px);
    font-size: 16px;
}
.graph-gif {
    width: 110px;}
.right-content-div1 p {
    font-size: 18px;
}
.reg-h1 {
    font-size: 38px;
}
}
@media all and (max-width: 880px){
.ow-section-des {
    width: 150px !important;
    font-size: 16px !important;
	margin-top: 20px;
}
.ow-section-line {
    width: calc(100% - 160px) !important;
    height: 30px !important;
}
.co-ow .ow-section-des {
    font-size: 16px !important;
    width: 220px !important;
}
.co-ow .ow-section-line {
    width: calc(100% - 225px) !important;}
.co-ow p {
    font-size: 14px !important;
}
.ow-long-left {
    width: 300px !important;
}
.ow-short-line {
    width: calc(100% - 320px) !important;
    border-color: white !important;
}
.ow-date-size::before {
    font-size: 16px !important;}
.ow-date-size p {
    font-size: 14px !important;
}
.ow-date-size p {
    margin-top: 10px !important;
}
.ow-date-size .top-p1 {
    margin-top: 30px !important;
}
.percen-text {
    font-size: 24px;}
}
@media all and (max-width: 800px){
.same-padding {
    padding-left: 5%;
    padding-right: 5%;
}
.top-des {
    margin-top: 20px;
    width: 220px;
    font-size: 14px;
}
.line-startup {
    width: calc(100% - 235px);
    border-bottom: 1px solid white;
    height: 30px;
}
.three-line-textarea {
    min-height: 80px;
}

.step-p2{
	width:100%;}
.article-css-control img {
    width: 100% !important;
    margin-left: 0;
	margin-right:0;}
.index-content{
	width:100%;}
.span1 {
    font-size: 27px;
}
#fly-in {
    height: 250px;
    padding-top: 90px;
}

.count-text {
    font-size: 12px;
}
.ripple-background {
    height: 240px;
    right: 0;
	width: 100%;
    float: none;
}
.follow-harm-width {
    padding: 30px 5px;
    width: 100%;
    float: none;
}
.timeline-item b {
    font-size: 21px;
}
.timeline-item p {
    font-size: 14px;
	margin-top: 10px;
    margin-bottom: 30px;}
.timeline-item::before {
    font-size: 14px;}
.two-box-div {
    padding: 0 25px;
}
.per-content-p {
    width: 100%;
    float: none;
    font-size: 16px;
    text-align-last: center;
}
.graph-gif{
	display:none;}
.area {
    height: 250px;
}
.vx-t{
	display:block;
	text-align:center;
	float:none;
	border-top:1px solid white;
	border-bottom:1px solid white;
	width:100% !important;
	padding:10px 0;}
.vx-l{
	display:none;}
.area {
    height: 210px;
}
.big-title {
    font-size: 40px;}
.how-height {
    height: 250px !important;
}
.double {
    width: 20px;
}
.left-teh1 {
    width: 100%;
    text-align: center;
	float:none;
}
.milk {
	display:none;
}
.teh-border {
    margin: 0 auto;
}
.teh-content-p {
    text-align: center;
}
.teh-info-table {
    margin-left: auto;
    margin-right: auto;
	text-align:left;
}
.right-teh1 {
    margin-top: 50px;
    width: 100%;
    float: none;
}
.teh1-div {
    padding-top: 50px;}
.teh-all-h1 {
    font-size: 32px;}
.teh-all-desc {
    font-size: 17px;
	margin-bottom: 30px;
}
.four-col img {
    width: 60%;
}
.four-col p, .four-col p b, .three-column p {
    font-size: 15px;
}
.top-p1{
	margin-top:10px !important;}
.ow-date-size .top-p1 {
    margin-top: 10px !important;
}
.banner2 {
    padding-top: 75px;
    padding-bottom: 75px;}
.vincaps-table{
	width:100%;}
.footer-p {
    font-size: 16px;
}
.right-date {
    float: none;
    width: 100%;
    text-align: center;
	margin-bottom:30px;
}
.date-h1 {
    text-align: center;}
.h1-border {
    float: none;
    margin-left: auto;
    margin-right: auto;}
.date-h1b {
    text-align: center;}
.place-h1 {
    text-align: center;}
.left-details {
    float: none;
    width: 100%;
    text-align: center;
}
.left-img-div {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.right-lecturer-div {
    width: 75%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.lecturer-p {
    text-align: justify;
    text-align-last: center;
}
.left-50div {
    float: none;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.right-50div {
    float: none;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.reg-h1 {
    text-align: center;
}
.right-leaf1 {
    width: 15% !important;}
.left-leaf1 {
    margin-top: -45px !important;
}
.r-u {
    font-size: 36px;}
.three-counter2a {
    float: none;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.search-input1 {
    width: calc(30% - 5px);
    margin-right: 3%;
}
.search-input2, .search-input3{
	margin-right:0;}
}
@media all and (max-width: 783px) {

.orange-p {
    padding-left: 0;}		
.overwrite-img-a{
	    width: 40%;
}
}
@media all and (max-width: 750px){
.number-td {
    font-size: 30px;
}
.text-td {
    font-size: 18px;}
.border-text {
    font-size: 20px;
}
.op {
    width: 220px;
}
.menu-item{
	display:none;}
.dl-menuwrapper{
	display:inline-block;}	
.menu-color {
    padding-top: 0;
    padding-bottom: 0;
}
.logo-img {
    margin-top: 4px;
}
.dropdown {
    display: none;
}
.line-header {
    font-size: 27px;
}
.content-p-size {
    font-size: 21px;
}

.mini-title {
    font-size: 24px;
}
.below-mini-title {
    font-size: 19px;
}
.header-p {
    font-size: 21px;
}
}
@media all and (max-width: 700px){
.big-title {
    font-size: 60px;}
.big-b {
    font-size: 27px;}
.contact-p {
    font-size: 15px;
}
.source-p {
    font-size: 12px;
}
.small-padding {
    padding-left: 35px;
    padding-right: 35px;
}
.welcome {
    font-size: 24px;
}	
.inner-close {
    right: 25px !important;
}
.blue-icon2 {
    width: 60px;
}
.welcome2 {
    font-size: 18px;
}
.explanation-p {
    margin-top: 0;
    font-size: 14px;
}
.tick-table {
    font-size: 12px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 150px;
}
p.article-p {
    /*font-size: 14px;*/
}
.test {
    width: 85%;
}
.test {
    width: 93%;
}
.red-h1 {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.contributor-p, .blue-date {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.overwrite-img-a {
    width: 43.5%;
}
.small-date {
    font-size: 9px;
}
.article-title-a {
    font-size: 14px;
	margin-bottom: 7px;
}
.text-content-div {
    font-size: 11px;
}
.index-content .test {
    width: 100%;
}
.text-center.four-div-css {
    width: calc(50% - 5px);
}
.three-column {
	margin-left:0;
	margin-right:0;
    width: 45%;}
.second-three-column{
	margin-left:calc(10% - 5px);}
.res-width {
    width: 100%;
}
ul.countdown li span {
    font-size: 50px;}
ul.countdown {
	margin-top: 30px;}
ul.countdown li.seperator {
    font-size: 50px;}
ul.countdown li p {
    margin-top: 0;
}
.pitch-h1 {
    font-size: 27px;
}
.five-div-p {
    font-size: 21px;
}
.input-div-width {
    width: 80%;
}
.laptop {
    width: 75%;
}
.first-h1 {
    font-size: 42px;}
.left-div1, .right-div1 {
    float: none;
    width: 70%;
    margin: 0 auto;
}
.cross-png {
    width: 55px;}
.left-div1, .right-div1 {
    width: 75%;}
}
@media all and (max-width: 650px){

.menu-margin-right {
    margin-right: 18px;
}	
.big-div {
    padding-top: 32px;
}
.explanation-p {
    text-align: center;
}
.explanation-p2{
	text-align:left;}
.tick-table {
    margin-left: calc(50% - 76px);
}
.agree-size {
    font-size: 10px;}
}
@media all and (max-width: 600px){
.op {
    width: 200px;
}
.border-text {
    font-size: 18px;
}
.list-table {
    margin-top: 7px;}
.number-td {
    font-size: 24px;
}
.text-td {
    font-size: 14px;
    padding-left: 5px;
}
.icon-css {
    width: 38px;
}
.blog-content-div1 {
    width: 100% !important;
	    padding-left: 0;
    padding-right: 0;}
p.article-p {
    margin-top: 25px;
}
.youtube-video-iframe {
    height: 230px;
}
.article-css-control iframe {
    height: 230px;
}
.article-css-control p, .article-css-control h1, .article-css-control span, .article-css-control h2, .article-css-control h3, .article-css-control h4, .article-css-control h5, .article-css-control h6, .article-css-control b, .article-css-control {
    /*font-size: 13px !important;*/
}
.notice-title{
	font-size: 24px;
	}
.span1 {
    font-size: 21px;
}
#fly-in {
    height: 210px;
    padding-top: 80px;
}

.area {
    height: 230px;
}
.price-table {
    font-size: 11px;
}
.content-td li {
	font-size: 9px;
}
.content-td ul {
    padding-left: 20px;
}

.ps {
    font-size: 11px;
}
.price-logo {
    width: 100px;
}
.four-col {
	padding:0 5%;
    width: calc(50% - 5px);
    margin-bottom: 30px;}
.four-col img {
    width: 40%;
}
.teh-all-h1 {
    font-size: 27px;
}
.left-img-div1 {
    padding-right: 0;
    width: 100%;
    float: none;
	text-align:center;
}
.left-img-div1 img {
    width: 50%;
    margin: 0 auto;
	margin-left:25%;
	margin-right:25%;
}
.right-content-div1 {
    float: none;
    width: 100%;
    text-align: center;
    text-align-last: center;
    padding: 0 20px;
    margin-top: 30px;
}
.right-content-div1 p {
    font-size: 17px;
}
.right-content-div1 h1 {
    font-size: 21px;
}
.p-width {
    width: 100px !important;}
.ow-notice-width{
	width:90%;
	margin-left:auto;
	margin-right:auto;}
.ow-date-size .top-p1 {
    margin-top: 30px !important;
}
.banner2 {
    padding-top: 50px;
    padding-bottom: 50px;}
.banner2-h1{
	text-align:center;}
.faq-text {
    font-size: 13px;}
.five-div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
}
.five-div-container {
    padding-top: 0px;
}
.five-div-img {
    width: 20%;
}
.right-lecturer-div {
    width: 100%;}
.lecturer-h1 {
    font-size: 40px;
}
.design {
    width: 80%;
}
.three-counter2a {
	width:100% !important;}
}
@media all and (max-width: 550px){
.menu-margin-right {
    margin-right: 12px;
}

.before-header-div {
    margin-top: 5px;
}
.logo-img {
    width: 60px;
}
.before-header-div {
    margin-top: 2px;
}
.menu-color {
    padding-top: 3px;
    padding-bottom: 3px;
}
.description {
    font-size: 17px;
    width: 100%;
}
.big-title {
    font-size: 48px;
}
.big-container-css {
    width: 90%;
    margin-left: 5%;
}
.article-bg-img-box, .overwrite-img-a {
    height: 110px;
}
.article-card{
	min-height:0;}
.three-counter {
    width: 65%;
	margin-left:auto;
	margin-right:auto;
	    display: block;}
.content-text-p {
    text-align: center;}
.ow-about-us .three-counter{
	width:100%;
	float:none;
	display:block;
}
.ow-about-us .line-startup{
	display:none;}
.ow-about-us .top-des{
	padding: 10px 0;
	text-align:center;
	width:100% !important;
	border-top:1px solid #85b8e6;
	border-bottom:1px solid #85b8e6;}
.two-box-div {
    width: 100%;
    display: block;
}
.per-content-p {
    font-size: 15px;}
.text-center.four-div-css {
    width: calc(50% - 5px);}
.pitch-h1 {
    font-size: 21px;
    text-align: center;
}
.pitch-bg {
    padding-top: 28px;
    padding-bottom: 0px;
}
.details-ul {
    text-align: left;
}
.input-div-width {
    width: 100%;
}
.first-h1 {
    font-size: 36px;}
}
@media all and (max-width: 500px){
.darkblue-text s{
	font-size:30px;}
.ps {
    text-align: center;
}
.ow-section-line {
    display: none;
}
.ow-section-des {
    float: none;
    text-align: center;
    width: 100% !important;
    border-top: 1px solid #85b8e6;
    border-bottom: 1px solid #85b8e6;
    padding: 10px 0;
}
.two-column-css {
    text-align: center;
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.border-text{
	width:100%;}
.short-blue-border {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.border-text, .border-text b{
	font-weight:600;
	color:#2b2b88;	
	text-align: center;
}

.icon-table .text-td, .icon-table .number-td {
    text-align: left;
}
.icon-table {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}
.extra-margin-bottom {
    margin-bottom: 45px;
}
.white-spacing-div {
    padding-bottom: 10px;}
.line-startup {
    display: none;
}
.top-des {
    width: 100%;
    text-align: center;
}
.startup-width {
    float: none;
    border-top: 1px solid #88bae7;
    border-bottom: 1px solid #88bae7;
    margin-top: 20px;
}
.big-title {
    text-align: center;
}
.description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.bottom-text {
    text-align: center;
}
.top-des {
    margin-top: 14px;}
.form-class {
    margin-bottom: 35px;
}
.opt-msg{
    text-align: left;}
.banner-h1 {
    font-size: 21px;
}
.login-modal-content {
    width: 90%;
}
.small-padding {
    padding-left: 25px;
    padding-right: 25px;
}
.below-blue-box {
    padding-top: 25px;
    padding-bottom: 25px;
}
.close-css {
    right: calc(5% + 25px);
}
.icon-table-css {
    text-align: left;
}
.price-h1 {
	text-align:center;font-size: 16px;
}

.price-table {
    font-size: 11px;
}
.recommended {
    width: 100% !important;
    margin-left: 0 !important;
}
.youtube-video-iframe {
    height: 180px;
}
.article-css-control iframe {
    height: 180px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 80px;
}
.timeline-ow {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.how-height {
    height: 280px !important;
}
.teh-all-h1 {
    font-size: 24px;
}
.dual-input {
    display: block;
    width: 100%;
	margin-bottom:20px;
	margin-left:0;
}
.middle-button-size {
    width: 100%;}
.line-header {
    font-size: 24px;
}
.flex3 {
    display: block;
    padding-bottom: 0;
}
.three-counter2 {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}
.percen-text {
    font-size: 21px;
}
.date-h1, .date-h1b, .place-h1 {
    font-size: 48px;}
.h1-border {
    width: 150px;}
.gps {
    height: 36px;
    margin-top: 10px;}
.details-h1 {
    font-size: 32px;}
.details-ul {
    font-size: 21px;
}
.details-ul li {
    margin-bottom: 10px;
}
.header-p {
    font-size: 19px;
}
.mini-title {
    font-size: 21px;
}
.left-50div {
    width: 100%;
}
.right-50div {
    width: 100%;
}
.reg-h1 {
    font-size: 32px;
}
.left-leaf1 {
    margin-top: -25px !important;
	width: 15% !important;
}
.r-u {
    margin-top: 50px;
    font-size: 29px;}
.down-png {
    width: 20px;
    margin-top: 15px;
}
.left-div1, .right-div1 {
    width: 100%;}
.margin-top-zz {
    margin-top: 50px;
    margin-bottom: 30px;}
.cross-png {
    margin-top: 5px;
    width: 40px;}
.two-column-table {
    font-size: 22px;
}
.search-input1 {
    width: calc(47% - 5px);
    margin-right: 3%;}
.search-input1 .input-name {
    font-size: 13px !important;
    padding: 8px;
    margin-bottom: 0px;
}
}
@media all and (max-width: 450px){
.span1 {
    font-size: 18px;
}
#fly-in {
    height: 180px;
    padding-top: 60px;
}

.area {
    height: 250px;
}
.teh-h1 {
    font-size: 27px;
}
.milktea {
    height: 30px;
}
.teh-content-p {
    font-size: 15px;}
.teh-info-table {
    font-size: 16px;
	vertical-align:top;
}
.teh-info-table td {
    vertical-align: top;
}
.four-col img {
    width: 60%;
}
.pitch-h1 {
    font-size: 18px;
}
.five-div {
    width: 100%;}
.first-h1 {
    font-size: 29px;
}
.r-u {
    font-size: 26px;
	margin-top: 30px;}
}
@media all and (max-width: 400px){

.description {
    font-size: 15px;}
.big-title {
    font-size: 42px;
}
.bottom-text {
    margin-top: 15px;
    font-size: 10px;
}
.small-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.close-css {
    right: calc(5% + 15px);
}
.price-table {
    font-size: 9px;
}
.price-table td, .price-table th {
	padding: 10px 5px;
}

.wrapm {
    margin-bottom: 2px;
}
.text-content-div {
    height: 50px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 90px;
}
.article-bg-img-box, .overwrite-img-a {
    height: 60px;
}
.title-ch1 {
    font-size: 12px;
}
.title-ch1 span {
    font-size: 36px;
}
.counter-h2 span {
    font-size: 16px;
	padding:0 2px;
}
.count-text {
    font-size: 11px;
}
.three-counter {
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
	display:block;
}
.shade1{
  opacity: 0.05;
}
.shade2{
  opacity: 0.1;
}

.shade3{
  opacity: 0.15;
}

.shade4{
  opacity: 0.2;
}

.shade5{
  opacity: 0.25;
}
.per-content-p {
    font-size: 14px;
    line-height: 1.3;
}
.how-height {
    height: 320px !important;
}
.text-center.four-div-css {
    width: 100%;}
.ps {
    font-size: 8px;
   
}
.three-column {
	margin-left:0;
	margin-right:0;
    width: 100%;}
.menu-margin-right {
    margin-right: 5px;
}
ul.countdown li span {
    font-size: 30px;
	line-height: normal;}
ul.countdown li.seperator {
    font-size: 30px;
	line-height: normal;}
.first-h1 {
    font-size: 25px;
}
}
@media all and (max-width: 380px) {
.ow-date-size .top-p3 {
    margin-top: 30px !important;
}
}
@media all and (max-width: 350px) {
.youtube-video-iframe {
    height: 140px;
}
.article-css-control iframe {
    height: 140px;
}
.area {
    height: 270px;
}
.ow-date-size .top-p1 {
    margin-top: 50px !important;
}
.ow-date-size .top-p4 {
    margin-top: 30px !important;
}
.middle-button{
	width:100%;}
.r-u {
    font-size: 22px;
}
.two-column-table {
    font-size: 20px;
}
}
@media all and (max-width: 330px) {
.how-height {
    height: 340px !important;
}
.first-h1 {
    font-size: 22px;
}
}
@media print {
#header{
	display:none;}
.hide-print{
	display:none;}	
.footer-red{
	display:none;}
.min-height2 {
    min-height: auto;
}
.min-height {
    min-height: auto;
}
.left-teh1 {
    width: 50%;
    float: left;
	text-align:left;
}
.teh-content-p{
	text-align:left;}
.teh-border{
	margin-left:0;}
.right-teh1 {
    width: 50%;
    float: right;
    margin-top: 120px;
    padding-left: 10%;
}
}
